.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 5px;
    height: 75px;
    padding: 15px;
    margin: 10px;
}

.sentiment {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.sentiment span {
    margin-right: 15px;
}

.up::after {
    content:'🢁';
    color: green;
}

.down::after {
    content:'🢃';
    color: red;
}
