:host {
  gap: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 600px;
  height: fit-content;
}

.up::after {
  content:'🢁';
  color: green;
}

.down::after {
  content:'🢃';
  color: red;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line span {
  margin-right: 15px;
}

.close {
  cursor: pointer;
}
