:host {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  height: 75px;
  padding: 15px;
  margin: 10px;
}

.up::after {
  content:'🢁';
  color: green;
}

.down::after {
  content:'🢃';
  color: red;
}

.line {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.line:first-child {
  grid-template-columns: 1fr 1fr;
}

.line span {
  margin-right: 15px;
}

.close {
  text-align: end;
  width: 100%;
  cursor: pointer;
}
